# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# CatBoost training logs
notebooks/catboost_info/